/* font import */
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto&display=swap');

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Henny Penny', cursive;
  --background-color: #eac3b2;
  --font-color: #45bdbe;
  --font-color-dark: #133c68;
}

body {
  padding-top: 50px;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1;
  height: 50px;
  background-color: var(--font-color);
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

/* header nav */
.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background-color: var(--font-color);
  transform: translateX(100vw);
  transition: transform 0.4s ease-in-out;
}

.menu-items.open {
  transform: translateX(0);
}

.menu-items li {
  width: 100vw;
  height: 100%;
}

.menu-items li a {
  padding: 0.5rem 1rem;
  transition: color 0.3s ease-in-out;
  color: white;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-items li a:hover {
  color: #cccccc;
  text-decoration: underline;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

/* create menu icon */
.menu-btn__lines,
.menu-btn__lines::before,
.menu-btn__lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.menu-btn__lines::before,
.menu-btn__lines::after {
  content: '';
  position: absolute;
}

.menu-btn__lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn__lines::after {
  transform: translateY(0.5rem);
}

/* menu animation */
.menu-btn.open .menu-btn__lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn__lines::before {
  transform: rotate(45deg) translate(-1.5rem, 1.5rem);
  background-color: white;
}

.menu-btn.open .menu-btn__lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
  background-color: white;
}

/* content wrapper */
.content {
  width: 85%;
  margin: 0 auto;
}

/* title */
.title {
  color: var(--font-color-dark);
  text-align: center;
  font-size: 6rem;
  margin-top: 4rem;
  font-family: var(--secondary-font);
  letter-spacing: 0.3rem;
}

/* video */
.video {
  margin-top: 4rem;
  width: 100%;
  height: 180px;
}

/* cta */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cta__img {
  height: 80px;
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* web */
.web {
  margin-top: 5rem;
  flex-direction: column;
}

.icon {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 10px;
}

.yt__icon {
  position: relative;
  right: 12px;
}

.apple__icon {
  position: relative;
  left: 10px;
}

.web__card {
  margin-top: 4rem;
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.spotify__div {
  position: relative;
  right: 14px;
}

.apple__div {
  position: relative;
  right: 20px;
}

.card__link {
  color: var(--font-color);
  text-decoration: none;
}

.card__link__header {
  font-size: 4rem;
}

/* social media cta */
.social_media_cta {
  margin-top: 6rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.social_media_cta a {
  text-decoration: none;
  color: var(--font-color-dark);
  text-decoration: underline;
}

/* tour section */
.tours {
  margin-top: 6rem;
  font-size: 1.2rem;
}

.tour__info {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2rem;
}

.tour__card {
  border-top: 2px solid var(--font-color);
  padding-top: 0.4rem;
}

.tour__card a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 0.4rem;
  text-decoration: none;
}

.tour__date,
.tour__venu,
.tour__location {
  font-weight: 800;
}

.tour__venue {
  color: var(--font-color);
}

.tour__location {
  margin-bottom: 1.5rem;
}

.tour__notify {
  background-color: var(--font-color);
  color: var(--background-color);
}

.tour__rsvp {
  border: 2px solid var(--font-color);
  color: var(--font-color);
  margin-bottom: 3rem;
}

.email__btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--font-color);
  padding: 1rem 1.5rem;
  margin-top: -1.5rem;
}

/* footer */
.social_media {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.media__link a {
  color: var(--font-color-dark);
}

/* media queries */
@media screen and (min-width: 800px) {
  .header {
    align-items: center;
  }
  .menu-btn {
    display: none;
  }
  .menu-items {
    transform: translateX(0);
    flex-direction: row;
    height: 100%;
    position: static;
  }
  .menu-items li {
    width: unset;
    padding: 0 0.5rem;
  }
  .menu-items li a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease-in-out;
  }
}
